/*Define sass variables*/

$neutral-color: rgba(214, 213, 213, 0.9);
$your_name_color: rgba(130, 201, 119, 0.9);
$comp_name_color: rgba(110, 177, 210, 0.9);
$white: rgba(255, 255, 255, 0.9);
$font-family: monospace, monospace;

html {
  background: url('../images/dodentocht_background.jpg')  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  text-align: center;
  visibility: hidden;
}




.container {
  margin: 0 auto;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}

.left {
  float: left;
}

/*As center piece, use margin/padding to create space*/
.center {
  float: left;
  margin-left: 5pc;
  margin-right: 5pc;
}

.right {
  float: left;
}

#wrapper {
  margin-top: 3pc;
}

input { font-size:16px;
  border-width:2px;
  border-color:#cccccc;
  padding:2px;
  background-color:$your_name_color;
  border-style:solid;
  border-radius:0px;
  box-shadow: 0px 0px 0px 0px rgba(42,42,42,.0);
  text-shadow:0px 0px 0px rgba(42,42,42,.75);
  font-weight:normal; font-style:none;
  font-family: $font-family;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

input:focus { outline:none; }


#id_your_name_1 {
  background-color: $your_name_color;
}

#id_your_name_2 {
  background-color: $comp_name_color;
}
/*#dodentocht_table Style - This is what you want*/
/*------------------------------------------------------------------ */
#dodentocht_table {
  /*Font*/
  font-family: $font-family;

  /*Color of header text*/
  color:#000000;

  /*Color of table text*/
  font-size:12px;
  text-shadow: 0px 0px 0px #fff;

  /*Border of whole table*/
  /*border:#478873 1px solid;*/

  /*-moz-border-radius:3px;*/
  /*-webkit-border-radius:3px;*/
  /*border-radius:3px;*/

  /*-moz-box-shadow: 0 1px 2px #478873;*/
  /*-webkit-box-shadow: 0 1px 2px #478873;*/
  /*box-shadow: 0 1px 2px #478873;*/
}

#dodentocht_table th {

  /*Color of header text*/
  color:#000000;
  font-size:13px;

  padding:10px 10px 10px 10px;
  /*border-top:1px solid #478873;*/
  /*border-bottom:1px solid #478873;*/


  /*background: -webkit-gradient(linear, left top, left bottom, from(#478873), to(#478873));*/
  /*background: -moz-linear-gradient(top,  #478873,  #478873);*/
}

th.comp_name {
  background: $comp_name_color;
}

tr:hover td.comp_name{
  background: -webkit-gradient(linear, left top, left bottom, from($comp_name_color), to($comp_name_color));
  background: -moz-linear-gradient(top, $comp_name_color,  $comp_name_color);
}

th.your_name {
  background: $your_name_color;
}

tr:hover td.your_name{
  background: -webkit-gradient(linear, left top, left bottom, from($your_name_color), to($your_name_color));
  background: -moz-linear-gradient(top, $your_name_color,  $your_name_color);
}

th.neutral {
  background: $neutral_color;
}

tr:hover td.neutral{
  background: -webkit-gradient(linear, left top, left bottom, from($neutral_color), to($neutral_color));
  background: -moz-linear-gradient(top, $neutral_color,  $neutral_color);
}

td.neutral {
  background: $white;
}

td.your_name {
  background: $white;
}

td.comp_name {
  background: $white;
}

#dodentocht_table th:first-child{
  text-align: center;
  padding-left:20px;
}
#dodentocht_table tr:first-child th:first-child{
  /*-moz-border-radius-topleft:3px;*/
  /*-webkit-border-top-left-radius:3px;*/
  /*border-top-left-radius:3px;*/
}
#dodentocht_table tr:first-child th:last-child{
  /*-moz-border-radius-topright:3px;*/
  /*-webkit-border-top-right-radius:3px;*/
  /*border-top-right-radius:3px;*/
}
#dodentocht_table tr{
  /*Color of table text*/
  color:#000000;

  text-align: center;
  padding-left:20px;
}
#dodentocht_table tr td:first-child{
  text-align: center;
  padding-left:20px;
  padding-right:20px;
  border-left: 0;
}
#dodentocht_table tr td {
  /*border-top: 1px solid #478873;*/

  border-bottom:1px solid #478873;
  /*border-left: 1px solid #478873;*/

  /*background: #fafafa;*/
  /*background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));*/
  /*background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);*/
}
#dodentocht_table tr.even td{
  background: #f6f6f6;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
  background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
#dodentocht_table tr:last-child td{
  border-bottom:0;
}
#dodentocht_table tr:last-child td:first-child{
  -moz-border-radius-bottomleft:3px;
  -webkit-border-bottom-left-radius:3px;
  border-bottom-left-radius:3px;
}
#dodentocht_table tr:last-child td:last-child{
  -moz-border-radius-bottomright:3px;
  -webkit-border-bottom-right-radius:3px;
  border-bottom-right-radius:3px;
}

#header_table td {
  background: $white;
  font-family: $font-family;
  font-size: 12px;
}

#radar_chart_wrapper {
  background: $white;
}

#line_chart_wrapper {
  background: $white;
}

.autocomplete_results {
  font-family: $font-family;
  font-size: 16px;
}